<p> Liste des tâches à faire : </p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task %>
      <%= link_to "Delete",
        task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}
    %>

    <%= link_to "Edit", edit_path(task), data: {turbo_method: :get} %>
    </li>
  <% end %>
</ul>

<%= link_to "Créer une nouvelle tâche", new_path %>
